<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Enter Course Name</mat-label>
      <input matInput formControlName="courseName" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter Course Duration</mat-label>
      <input matInput formControlName="courseDuration" />
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="!assignedInstructorName">
      <mat-label>Select Instructor Name</mat-label>
      <mat-select formControlName="instructorId">
        <mat-option *ngFor="let option of options" [value]="option.value">
          {{ option.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" *ngIf="assignedInstructorName">
      <mat-label>Instructor Name</mat-label>
      <input
        matInput
        placeholder="instructor name"
        [value]="assignedInstructorName"
        readonly
      />
    </mat-form-field>
    <div class="btn">
      <button
        mat-raised-button
        color="primary"
        class="saveBtn"
        type="submit"
        [disabled]="form.invalid"
      >
        Submit
      </button>
      <button mat-raised-button color="warn" type="button" (click)="onClose()">
        Close
      </button>
    </div>
  </form>
</div>
