.form-container {
  max-width: 400px;
  margin: 0 auto;
  float: left;
}

.form-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

.mat-raised-button {
  margin-right: 10px;
}
.saveBtn {
  margin-right: 40px;
}
