<h3>{{ course.courseName }}</h3>
<h4>It takes duration of {{ course.courseDuration }} days</h4>
<button
  mat-raised-button
  color="primary"
  (click)="navigateToAddLesson()"
  [routerLink]="['/add-lesson', courseId]"
  [queryParams]="{ courseName: course.courseName }"
>
  Add New Lesson
</button>
<hr />
<div class="mat-elevation-z8" *ngFor="let lesson of course.lessons">
  <div><b>Lesson Id : </b>{{ lesson.lessonId }}</div>
  <div><b>Name : </b>{{ lesson.lessonName }}</div>
  <a
    [routerLink]="['/lesson-page', lesson?.lessonId]"
    [queryParams]="{ prev: prevLessonId, next: nextLessonId }"
    >Visit to watch Video</a
  >
</div>
