<!-- lesson.component.html -->
<mat-card>
  <mat-toolbar color="secondary">
    <span>Add New Lesson Details</span>
  </mat-toolbar>
  <br />
  <form #myForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Lesson Name</mat-label>
      <input
        matInput
        placeholder="Enter Lesson Name"
        [(ngModel)]="lesson.lessonName"
        name="name"
        required
      />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Lesson Text</mat-label>
      <textarea
        matInput
        placeholder="Enter Lesson Text"
        [(ngModel)]="lesson.lessonText"
        name="text"
        rows="6"
        required
      ></textarea>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Lesson Link</mat-label>
      <input
        matInput
        placeholder="Enter Lesson Link or ID"
        [(ngModel)]="lesson.link"
        name="link"
        required
      />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Course Name</mat-label>
      <input matInput placeholder="course name" [value]="courseName" readonly />
    </mat-form-field>
    <div class="button-group">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="myForm.form.invalid"
      >
        Submit
      </button>
      <button mat-raised-button color="warn" class="ml-10" (click)="onCancel()">
        Cancel
      </button>
    </div>
  </form>
</mat-card>
